<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rétro Série</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="shortcut icon" href="../../public/img/LogoTV.png">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">
            <img src="../../public/img/LogoTV.png" alt="Logo du site">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Accueil<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/src/views/annees.html">Années</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/src/views/continents.html">Continents</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/src/views/genres.html">Genres</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Extras</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                  <a class="dropdown-item" href="#">Streaming/Blu-ray</a>
                  <a class="dropdown-item" href="#">Musique</a>
                  <a class="dropdown-item" href="#">Stickers</a>
                  <a class="dropdown-item" href="#">Acteur</a>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link">Contact</a></li>
          </ul>
          <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light">Panier : <span>1</span>
              </a>
            </li>
            <li class="nav-item avatar dropdown">
              <a class="nav-link" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                pseudo
              </a>
              <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                aria-labelledby="navbarDropdownMenuLink-55">
                <a class="dropdown-item" href="#">Compte</a>
                <a class="dropdown-item" href="#">Déconnexion</a>
                
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <header>
        <div class="jumbotron jumbotron-fluid" id="jumbotron">
            <div class="container">
              <h1 class="display-4">RétroSérie</h1>
            </div>
          </div>
      </header>
    
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
              <h1>Les incorruptibles</h1>
            <hr>
          </div>
          <div class="offset-md-2 col-sm-3">
            <strong>Genres :</strong>
            <p>Policier</p>
          </div>
          <div class="col-sm-3">
            <strong>Réalisateurs :</strong>
            <p>Quinn Martin</p>
          </div>
          <div class="col-sm-3">
            <strong>Années de diffusion :</strong>
            <p>1959 - 1963</p>
          </div>
          
        </div> <!-- fin row -->
        <hr>
        <div class="row">
          <div class="col-sm-8">
            <p><strong>Les Incorruptibles</strong> (The Untouchables) est une série télévisée policière américaine en un pilote de 90 minutes et 118 épisodes de 50 minutes, en noir et blanc, créée par Quinn Martin et diffusée entre le 20 avril 1959 et le 21 mai 1963 sur le réseau ABC. Elle y a rencontré un très grand succès : à son apogée, elle était suivie par un ménage américain sur trois.</p>
            <p>En France, la série a été diffusée à partir du 5 janvier 1964 sur RTF Télévision puis sur la première chaîne de l'ORTF, et au Québec à partir du 8 septembre 1965 à la Télévision de Radio-Canada.</p>
            <p>Un remake de la série est diffusé entre 1993 et 1994, créé par Christopher Crowe.</p>
            <hr id="ligne">
            <!-- <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div> -->
          </div>
          <div class="col-sm-4" id="distribution">
            <h3>Acteurs principaux</h3>
                <ul>
                  <li>Robert Stack : Elliot Ness</li>
                  <li>Walter Winchell : le narrateur</li>
                  <li>Nicholas Georgiade : Enrico Rossi</li>
                  <li>Paul Picerni : Lee Hobson</li>
                  <li>Abel Fernandez : William Youngfellow</li>
                  <li>Steve London : Jack Rossman</li>
                </ul>
                <h3>Pays d'origine</h3>
                <p>Etats-Unis</p>
                <h3>Nombre de saisons</h3>
                <p>4 saisons</p>
          </div>
          <div class="col-sm-12 col-lg-12">
            <hr>
            <h3>Résumé</h3>
            <p>Située à Chicago au temps de la prohibition, la série suivait les exploits de l'agent spécial du Trésor Eliot Ness et de son petit groupe d'agents dans leur lutte inlassable contre les membres de la pègre.
              Les Incorruptibles demeure sans contredit l'émission de télévision la plus violente dans les années 1960. Il faut dire que le théâtre s'y prêtait bien.</p>
            <hr>
            <h3>Achat de vidéos</h3>
            <table class="table-respo">
              <thead>
                  <tr>
                      <th scope="col">Pilote (1959)</th>
                      <th scope="col">Saison 1 (1959-1960)</th>
                      <th scope="col">Saison 2 (1960-1961)</th>
                      <th scope="col">Saison 3 (1961-1962)</th>
                      <th scope="col">Saison 4 (1962-1963)</th>                      
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>2 parties</td>
                      <td>28 épisodes</td>
                      <td>32 épisodes</td>
                      <td>28 épisodes</td>
                      <td>30 épisodes</td>
                  </tr>
              </tbody>
          </table>
          <br>
          <h3>Musiques</h3> 
            <div class="row">
              <div class="col-md-6">
                <p> Nelson Riddle est un jazzman très en vogue à l'époque qui est appelé aux commandes de la musique. Il signe le thème principal et les musiques des différents épisodes. Douze de celles-ci, ainsi que la générique historique, figurent sur l'album publié en 1960.</p>
                <p>Arrangeur des plus beaux disques de Frank Sinatra (période Capitol), il est un excellent orchestrateur qui transforme tout ce qu'il touche en or. On en finit par oublier qu'il fut aussi un formidable compositeur comme le rappelle cette musique du feuilleton le plus suivi des années 60 (un ménage américain sur trois lors de sa diffusion) : Les Incorruptibles. Cette série, diffusée sur l'unique chaine française à partir de 1964, demeure sans contredit l'émission de télévision la plus violente dans les années 1960. Il faut dire que le théâtre s'y prêtait bien. Située à Chicago au temps de la prohibition, la série suivait les exploits de l'agent spécial du Trésor Eliot Ness et de son petit groupe d'agents dans leur lutte inlassable contre les membres de la pègre. La musique est une réussite qui souligne, soit en accompagnant soit en contrepoint, les moments forts. Une référence dans le genre !</p>
              </div>
              <div class="col-md-4">
                <iframe src="https://open.spotify.com/embed?uri=spotify:album:4Ep0zbv1yMHl0hwrTJejl8" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
              </div>
            </div> <!-- fin row -->
            <h3>Stickers ou photos</h3>
            <div class="" id="imageSerie">
              <img src="../../public/img/incorrup1.jpg" alt="" class="img-thumbnail mr-2">   
                <img src="../../public/img/incorrup1.jpg" alt="" class="img-thumbnail mr-2">   
                <img src="../../public/img/incorrup1.jpg" alt="" class="img-thumbnail mr-2"> 
                <img src="../../public/img/incorrup1.jpg" alt="" class="img-thumbnail">  
              </div>
              
          </div> <!-- fin col-lg-12 -->
          
        </div> <!-- fin row -->
      </div> <!-- fin container -->
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="../../public/js/main.js"></script>
</body>
</html>