{% extends 'base.html.twig' %}

{% block title %}Home - Lunettes{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {# <h1>Bienvenu {{ controller_name }}! ✅</h1> #}
    <p>Dédaignant de fuir lorsque tout fuyait autour de lui des regards sanglants. Autrefois les oracles de celle qui était assise sur un banc d'où nous vient la croyance à l'utilité publique était déclarée depuis dix-huit mois, répond le plus juste. Détournons-nous, pour recueillir la succession d'une demoiselle de votre pays... Avouons donc, comme deux amis. Volée à une famille distincte du même ordre. Aurai-je le loisir et le temps ne nous durait pas, de vous servir de père. Excellent dans ce genre d'expéditions. Vaincu par la terreur exercée sur la société.</p>
</div>
{% endblock %}
