{% extends 'base.html.twig' %}

{% block title %}Nouveautés{% endblock %}
{% block stylesheets %}
    
{% endblock %}
{% block body %}
<h1>{{ controller_name }}</h1>
<div class="container">
{% for pag in pagination %}
    <p>{{ pag.nom }}</p>
{% endfor %}
</div>
{% endblock %}
