{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}
{% block stylesheets %}
    
{% endblock %}
{% block body %}
<div class="container">
    <div class="bg-light p-3">
            <h1>Votre panier</h1>
        </div>

        <p>Surprise, c'est vide !</p>
    </div>
</div>
{% endblock %}
