{% extends 'base.html.twig' %}

{% block title %}New Lunettes{% endblock %}

{% block body %}
    <h1>Create new Lunettes</h1>

    {{ include('admin/lunettes/_form.html.twig') }}

    <a href="{{ path('lunettes') }}">back to list</a>
{% endblock %}
