*, *::before, *::after {
    box-sizing: border-box;
}

// Bannière
.jumbotron {
    background-image: url("../img/banniere.jpg");
    color: white;
    text-shadow: 2px 2px 2px black;
    h1 {
        text-align: center;
        margin-top: 30px;
    }
}

// Titre de la page index
#titleIndex, #imageTV {
    text-align: center;
}

img.rounded {
    max-width: 100%;
}

ul {
    list-style: none;
}


// page listSerie
.loading {
    text-align: center;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #CCC;
}

th {
    background-color: #000;
    color: #FFF;
}

tr:nth-child(odd) {
    background-color: #EEE;
}

fieldset {
    border: 1px solid black;
    padding: 2%;
    border-radius: 5px;
    
}

legend, .mt-2 {
    text-align: center;
}

select#genres {
    width: 50%;
    margin-left: 25%;
}

select.custom-select {
    width: 50%;
}

// pages série
.col-12 h1, h3 {
    text-align: center;
}

#distribution {
    text-align: center;
}

#ligne {
    visibility: hidden;
}

.list {
    width: 90%;
}

iframe {
    width: 450px;
}

.img-thumbnail {
    width: 250px;
    height: 250px;
    
}

#imageSerie {
    text-align: center;
}

// page acteurs
#photoActeur {
    width: 125px;
    height: auto;
}

// mode responsive
@media only screen and (max-width: 780px) {
    table, thead, tbody, tr, th, td {
        display: block;
    }

    thead {
        display: none;
    }

    td {
        padding-left: 150px;
        position: relative;
        margin-top: -1px;
        background: #FFF;
        &:nth-child(odd) {
            background-color: #EEE;
        }
        &::before {
            padding: 10px;
            content: attr(data-label);
            position: absolute;
            top: 0;
            left: 0;
            width: 130px;
            bottom: 0;
            background-color: #000;
            color: #FFF;
            display: flex;
            align-items: center;
            font-weight: bold;
        }
    }

    tr {
        margin-bottom: 1rem;
    }

    th > td {
        padding-left: 10px;
        &::before {
            display: none;
        }
    }

    .col-sm-3 {
        text-align: center;
    }

    strong {
        text-decoration: underline;
    }

    #ligne {
        visibility: visible;
    }

    iframe {
        width: 300px;
    }

    .col-md-4 {
        text-align: center;
    }
}

@media only screen and (min-width: 1400px) {
    iframe {
        width: 650px;
    }
}