{% extends 'base.html.twig' %}

{% block title %}Edit Couleur{% endblock %}

{% block body %}
    <h1>Edit Couleur</h1>

    {{ include('admin/couleur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('couleur_index') }}"><button class="btn btn-outline-success">back to list</button></a>

    {{ include('admin/couleur/_delete_form.html.twig') }}
{% endblock %}
